

.movingGradient
{
    background-size: 200% 200% !important;
    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;
}

@-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

.roulette-spin{
	height: 300px;
    width: 300px;
    border-radius: 50%;
    background:black;
    background-image: url(/wheel.png);
    background-size: cover;
    background-position: center;
    color: white;
    transform: rotate(0deg);
    transition: transform 3s cubic-bezier(.41,.2,.38,1.02);
}

.spin-1{
	transform: rotate(3600deg);
}


.spin-2{
	transform: rotate(3528deg);
}

.spin-3{
	transform: rotate(3456deg);
}

.spin-4{
	transform: rotate(3384deg);
}

.spin-5{
	transform: rotate(3312deg);
}


.card{
    cursor: pointer;
    width: 340px;
    height:480px;
  }
  .front, .back{
    width:340px;
    height: 480px;
    overflow:hidden;
    backface-visibility:hidden;
    position:absolute;
    transition: transform .5s linear;
  }
  .card-active > .front{
    transform: perspective(600px) rotateY(-180deg);
  }
  .card-active > .back{
    transform: perspective(600px) rotateY(0deg);
  }
  .back{
    transform:rotateY(180deg);
  }